@charset "utf-8";

@font-face{
  font-family: 'Swiss721BT-Roman';
  src: url('../fonts/Swiss721BT-Roman.eot?#iefix') format('embedded-opentype'),  url('../fonts/Swiss721BT-Roman.woff') format('woff'), url('../fonts/Swiss721BT-Roman.ttf')  format('truetype'), url('../fonts/Swiss721BT-Roman.svg#Swiss721BT-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Swiss721BT-RomanCondensed';
  src: url('../fonts/Swiss721BT-RomanCondensed.eot?#iefix') format('embedded-opentype'),  url('../fonts/Swiss721BT-RomanCondensed.woff') format('woff'), url('../fonts/Swiss721BT-RomanCondensed.ttf')  format('truetype'), url('../fonts/Swiss721BT-RomanCondensed.svg#Swiss721BT-RomanCondensed') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Swiss721BT-BlackCondensed';
  src: url('../fonts/Swiss721BT-BlackCondensed.eot?#iefix') format('embedded-opentype'),  url('../fonts/Swiss721BT-BlackCondensed.woff') format('woff'), url('../fonts/Swiss721BT-BlackCondensed.ttf')  format('truetype'), url('../fonts/Swiss721BT-BlackCondensed.svg#Swiss721BT-BlackCondensed') format('svg');
  font-weight: normal;
  font-style: normal;
}

.conteudo {
  margin: 3% 1% 17% 0;
}
.conteudo aside p,
.conteudo aside p a{
	font-size: 14px;
  color: #b4b4b4;
  font-family: 'Swiss721BT-Roman';
}
.conteudo aside span{
  color: #38c3e0;
  font-weight: 800;
  font-size: 26px;
  text-transform: uppercase;
  font-family: 'Swiss721BT-RomanCondensed';
}



@media screen and (min-width: 992px) {

}

@media screen and (min-device-width: 768px) and (max-device-width: 991px) { 


}

@media screen and (min-device-width: 320px) and (max-device-width: 767px) { 

}

